@(title:String)

@main(title) {

<div style="margin: 0 auto; min-height: 100%; width: 900px;">
    <br/><br/>
    <h1>Admin pages</h1>
    <br/><br/><br/><br/>
    <!-- <a href="@routes.Admin.updateFundamentals"> -->
        Click here for updating company fundamentals online [Disabled as it sucks]
    <!-- </a>  -->
    <br/><br/><br/>
    <a href="@routes.Admin.uploadFundamentals">
        Click here to upload the company fundamentals<br/><br/><br/>
    </a>
    <br/><br/><br/>
    <a href="@routes.Admin.clearAllFundamentals">
        Click here to clear all the company fundamentals<br/><br/><br/>
    </a>

</div>


}
