<div style="margin: 0 auto; min-height: 100%; width: 900px;">
    <h2>The Fundamentals are mental</h2>
    <p>
    <div>
        Current time is <span id="time">[Whatever it is, who cares anyway?]</span>
    </div>
    Format your input in: SYMBOL,TYPE,VALUE,DATE(MM-dd-yyyy)
    Upload file:<br/>
    <form method="POST" action="@routes.Admin.postFundamentals" enctype="multipart/form-data">
        <input type="file" name="fundamentals">
        <input type="submit" />
    </form>
    </p>
</div>
