@main("Geeky Investor: About") {
<div id="floater"></div>

<div style="margin: 0 auto; min-height: 100%; width: 900px;">
    <div id="content" style="width:865px;min-height:540px;">

    <div id="header" style="width:855px;margin-left:auto;margin-right:auto;">
        <a href="@routes.Application.index"><img src="@routes.Assets.at("images/title2.png")" alt="The Wall Street Nerd"/></a>
    </div>

    <div style="padding:20px 0px 10px 0px;width:850px;"><div style="padding:1px;width:600px;float:left;"></div><h3>About Geeky Investor</h3></div>

    Getting the right market information can be difficult and expensive. This site was developed to help investors
    find the information they need so they can make informed decisions. Geeky Investor was created by Big Rock Software Ltd.
    We are a small software company specializing in high performance finance applications with our main office based in London.
    Please see contact link for further details.

    </div>

</div>
}
