@(title:String,chartRequest:Form[model.ChartRequest],
    chartResult:services.EquationResult,
    chartRequstObj:model.ChartRequest,
    errorMessages:Seq[String]=Nil)

@import services.EquationResult

@main(title) {
<div id="spacerTop"></div>

<script src="@routes.Assets.at("javascripts/jquery.flot.min.js")"></script>

<div style="margin: 0 auto; min-height: 100%; width: 1200px;">

    <div id="content" style="width:1200px;">
        <div style="float:left;"><img src="@routes.Assets.at("images/chartnerd.png")"/></div>

        <div style="width:1000px;float:left;">
            <div style="margin:10px 8px 8px 15px;"><h1>@chartRequstObj.title</h1></div>

            <div id="graph_area1"
                 style="float:left;width:960px;height:380px;border-width:0px;"></div>

            <script type="text/javascript">
                $(function () {
                    $.plot($("#graph_area1"), [ @chartResult.result.zip(chartRequstObj.yColorValue).zipWithIndex.map{case ((r,v),i)=> {
                        data: [@r.map { x=> [@x._1,@x._2] }.mkString(", ")],
                        color: '#@v',
                        @if(chartRequstObj.scale == model.MultiScale) {
                            yaxis: @i+1
                        }
                    } }.mkString(", ") ],{
                        xaxis: { mode: "time" }
                    });
                });
            </script>

            <div id="stylized">
                @formula(chartRequest,errorMessages)
            </div>
        </div>
    </div>

</div>


}
