@(chartRequest:Form[controllers.Application.ChartRequest],errorMessages:Seq[String])

@import helper._

<script type="text/javascript">
    $(function() {
        function split( val ) {
        return val.split( /([\(|\)|\+|\-|\*|\/]\s*)/ );
    }
    function extractSelected( term ) {
        var pos = getCaret(document.getElementById('equation'));
        var allTokens = split( term );
        var token = allTokens.shift();
        var current = token.length;
        while(current < pos) {
            token = allTokens.shift();
            current+=token.length;
        }
        return token;
    }
    function getCaret(el) {
        if (el.selectionStart) {
            return el.selectionStart;
        } else if (document.selection) {
            el.focus();
            if (r == null) {
                return 0;
            }
            var re = el.createTextRange(),
            rc = re.duplicate();
            re.moveToBookmark(r.getBookmark());
            rc.setEndPoint('EndToStart', re);
            return rc.text.length;
        }
        return 0;
    }

    $( "#equation" )
        .bind( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB && $( this ).data( "autocomplete" ).menu.active ) {
                event.preventDefault();
            }
        })
        .autocomplete({
            source: function( request, response ) {
                var t = extractSelected( request.term )
                if (t.indexOf(".")>=0){
                    $.getJSON( "autoCompleteExpressionWtType", {
                    term: t
                    }, response );
                }
                else{
                    $.getJSON( "autoCompleteExpression", {
                    term: t
                    }, response );
                }
            },
            search: function() {
                // custom minLength
                var term = extractSelected( this.value );
                if ( term.length < 2 ) {
                    return false;
                }
            },
            focus: function() {
                // prevent value inserted on focus
                return false;
            },
            select: function( event, ui ) {
                var allTokens = split( this.value );
                var finalTokens = Array( 0 );
                var pos = getCaret(this);
                var token = allTokens.shift();
                var current = token.length;
                while(current < pos){
                    finalTokens.push(token);
                    token = allTokens.shift();
                    current+=token.length;
                }
                finalTokens.push(ui.item.value);
                this.value = finalTokens.join("") + allTokens.join("");
                return false;
            }
        });
    });
</script>

<form method="POST" action="@routes.Application.chart" >
    @errorMessages.map { errorMessage =>
        <div style="margin:0px 0px 0px 150px; color:red; clear:both;">@errorMessage</div>
    }
    @chartRequest.errors.map { errorMessage =>
        <div style="margin:0px 0px 0px 150px; color:red; clear:both;">@errorMessage.message</div>
    }
    <label>Y =
        <span class="small">enter your expression</span>
    </label>

    <input type="text" name="equation" id="equation" @chartRequest("equation").value.map{v=> value="@v" }/>
    <input id="colorpicker" class="color {valueElement:'yColorValue'}"/>
    <input name="yColorValue" type="hidden" id="yColorValue" @chartRequest("yColorValue").value.map{v=> value="@v" }/>

    <div style="padding:2px 0px">
        <ul class="pureCssMenu pureCssMenum">
            <li class="pureCssMenui0"><a class="pureCssMenui0" href="#"><span>Examples</span></a>
                <ul class="pureCssMenum">
                    <li class="pureCssMenui"><a class="pureCssMenui" href="#"
                                                onclick="example('GOOG/GOOG.EPSTTM','Google\s Profit Earnings Ratio');">Google's PE Ratio</a>
                    </li>
                    <li class="pureCssMenui"><a class="pureCssMenui" href="#"
                                                onclick="example('^GSPC*USDEUR','S&amp;P 500 in euros');">S&amp;P 500 in euros</a></li>
                    <li class="pureCssMenui"><a class="pureCssMenui" href="#"
                                                onclick="example('GE*USDGBP','General Electric in GBP');">General Electric in GBP</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="optionsSwitch"><a id="hideshow" href="">options</a></div>
    <div id="options">
        <label style="clear:both;">From
            <span class="small">start date</span>
        </label>
        <input name="dateFrom" id="datepickerFrom" type="text" style="width:80px;" @chartRequest("dateFrom").value.map{v=> value="@v" }/>
        <label style="width:75px;">To
            <span style="width:75px;" class="small">end date</span>
        </label>
        <input name="dateTo" id="datepickerTo" type="text" style="width:80px;" @chartRequest("dateTo").value.map{v=> value="@v" }/>

        <label style="clear:both">Title
            <span class="small">chart name</span>
        </label>
        <input name="title" id="title" type="text" style="width:250px;" @chartRequest("title").value.map{v=> value="@v" }/>
    </div>
    <button type="submit">Show</button>
</form>
